#google_map {
    height: 500px;
}

.carousel.three .carousel-inner .active.left {
    left: -33%;
}

.carousel.three .carousel-inner .active.right {
    left: 33%;
}

.carousel.three .carousel-inner .next {
    left: 33%
}

.carousel.three .carousel-inner .prev {
    left: -33%
}

.carousel.three .carousel-control.left {
    background-image: none;
}

.carousel.three .carousel-control.right {
    background-image: none;
}

.carousel.three .carousel-inner .item {
    background: white;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(33%, 0, 0);
        transform: translate3d(33%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-33%, 0, 0);
        transform: translate3d(-33%, 0, 0);
    }
}